absl-py==1.0.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
black==22.1.0
bleach==4.1.0
Brotli==1.0.9
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
click==8.0.3
cryptography==36.0.1
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.6.0
docker==5.0.3
entrypoints==0.4
executing==0.8.2
fastapi==0.73.0
filelock==3.4.2
flake8==4.0.1
flatbuffers==2.0
fonttools==4.29.1
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.2
grpcio==1.41.0
gunicorn==20.1.0
h11==0.13.0
httplib2==0.20.4
huggingface-hub==0.4.0
humanfriendly==10.0
idna==2.8
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.2.1
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.6.7
notebook==6.4.8
numba==0.55.1
numpy==1.21.5
nvidia-cublas-cu11==2021.12.3
nvidia-cublas-cu116==11.8.1.74
nvidia-cuda-runtime-cu11==2021.12.20
nvidia-cuda-runtime-cu116==11.6.55
nvidia-cudnn-cu11==2022.1.13
nvidia-cudnn-cu115==8.3.2.44
nvidia-pyindex==1.0.9
nvidia-tensorrt==8.2.2.1
onnx==1.10.2
onnx-graphsurgeon==0.3.14
onnxruntime-gpu==1.9.0
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pdfkit==1.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.4.1
pluggy==1.0.0
polygraphy==0.35.1
prettytable==3.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyflakes==2.4.0
Pygments==2.11.2
PyGObject==3.36.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.0.0
python-dateutil==2.8.2
python-rapidjson==1.5
pytorch-quantization==2.1.2
PyYAML==6.0
pyzmq==22.3.0
regex==2022.1.18
requests==2.27.1
requests-unixsocket==0.2.0
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
six==1.14.0
sniffio==1.2.0
sphinx-glpi-theme==0.3
stack-data==0.1.4
starlette==0.17.1
sympy==1.9
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tokenize-rt==4.2.1
tokenizers==0.11.4
tomli==2.0.1
torch==1.10.2+cu113
torchvision==0.11.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.16.2
triton-model-analyzer==1.12.0
tritonclient==2.18.0
typing_extensions==4.0.1
urllib3==1.25.8
uvicorn==0.17.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
coloredlogs